
/******************************************/
/*Staff*/
/******************************************/
.staff-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    align-items: center;
}
.staff-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 2rem 0;
}
.staff-text h2{
    color: black;
    font-family: 'Futura-Bold',sans-serif;
    font-size: clamp(1.5rem,calc(4vw + 2rem),5rem);
}
.staff-text p{
    color: black;
    font-family: 'Futura-Book',sans-serif;
    text-align: center;
    font-size: clamp(1rem,calc(1vw + .5rem),1.8rem);
}
.staff-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.staff-card{
    background-color: black;
    border-radius: 12px;
    padding: .5rem 1.5rem;
    color: white;
    font-family: 'Futura-Light',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(min-width:768px){
    .staff-text{
        margin: 0 0 4rem 0;
    }
    .staff-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        align-items: center;
    }
    .staff-card{
        padding:1rem 1.5rem;
    }
}
/******************************************/
/*values */
/******************************************/
.values-content{
    max-width: 100%;
    height:fit-content;
    background: url(../images/blackbg@4x-8.png);
    background-size: contain;
}
.values-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4rem 1rem;
}
.values-header h1{
    color: var(--secondary-color);
    font-family: 'Futura-Bold',sans-serif;
    font-size: 3rem;
    margin: 0 0 40px 0;
}
.values-header ul{
    text-align: left;
    width:38%;
}
.values-header li{
    list-style-type: disc;
    font-family: 'Futura-Book',sans-serif;
    font-size: 1.5rem;
}
.more-values{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.teamwork{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 2rem 3rem 4rem;
    gap: 20px;
}
.teamwork-image{
    border-radius: 5%;
    background-image: url(../images/teamwork.webp);
    background-position: center;
    background-size: contain;
    margin: 50px 0 0 0;
    height:18rem;
}
.teamwork-text {
    color: white;
}
.teamwork-text h1{
    font-family: 'Futura-Bold',sans-serif;
    font-size: 3rem;
    margin: 0 0 20px 0;
}
.teamwork-text p{
    font-family: 'Futura-Book',sans-serif;
    font-size: 1.1rem;
    text-align: left;
    width: 92%;
}
.customer-service{
    background-color: var(--primary-color);
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.customer-service p{
    color: white;
    font-family: 'Futura-Light',sans-serif;
    font-size: 1.2rem;
}
@media(max-width:768px){
    .values-header h1{
        font-size: 2rem;
        text-align: left;
    }
    .values-header ul{
        width: 100%;
        padding: 1rem 2rem;
    }
    .more-values{
        display: flex;
        flex-direction: column;
    }
    .teamwork{
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
    }
    .customer-service{
        padding: 2rem 2rem;
    }
}
@media(max-width:375px){
    .values-header ul{
        padding: 1rem 2rem 1rem 2rem;
        text-align: justify;
    }
    .values-header li{
        font-size: 1.2rem;
    }
}
@media(max-width:325px){
    .values-header ul{
        padding: 1rem 1rem 1rem 2rem;
    }
}
/******************************************/
/*Social Duty*/
/******************************************/
.social-duty{
    background: url(../images/blackbg@4x-8.png);
    background-position: center;
    background-size: contain;
}
.social-duty-content{
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 4rem 7rem;
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.social-duty-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}
.social-duty-text h1{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 3rem;
    color: var(--primary-color);
    width: fit-content;
    padding: 0;
    margin: 0;
}

.social-duty-content p{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1rem;
    width: 80%;
}

.social-duty-image {
    height: 100%;
}
.social-duty-image img{
    display: block;
    height: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
@media(max-width:768px){
.social-duty{
    background-size: cover;
    background-repeat: no-repeat;
}
.social-duty-content{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    height: fit-content;
 }
 .social-duty-text h1{
    font-size: 2.5rem;
 }
 .social-duty-text p{
    width: 100%;
 }
 .social-duty-image{
    background: none;
 }
 .social-duty-image img{
    height: 360px;
 }
}
@media(max-width:375px){
    .social-duty-image img{
height: 315px;
    }
}