/******************************************/
        /*Navigation*/
        /******************************************/
        nav {
            
            background: white;
            position: fixed;
            width: 100%;
            top: 0;
            right: 0;
            left: 0; 
            padding: 1rem 2rem;
            z-index: 1000;
        }

        .navbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1500px;
            margin: auto;
        }

        .logo {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0rem 1.5rem;
            background: white;
            gap: 5px;
        }

        .logo img {
            height: 50px;
        }

        .logo h1 {
            font-family: 'Futura-Medium',sans-serif;
            font-weight: lighter;
            font-size: 1.2rem;
            color: black;
        }


        /* Menu Items */
        .nav-links {
            gap: 2px;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            right:0;
            /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
        }

        .nav-links li {
            position: relative;
        }

        .nav-links a {
            display: flex;
            flex-direction: column;
            padding: 0rem 1.5rem;
            /* mobile safe */
            max-width: fit-content;
            height: 40px;
            text-align: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease;
            font-family: 'Futura-Demi', sans-serif;
            font-size: 1rem;
            border-radius: 25px;
        }
        .visited-blue:visited{
            color: var(--primary-color);
        }
        .visted-white:visited{
            color: white;
        }

        /* Mobile Menu Button */
        .menu-toggle {
            display: none;
            font-size: 28px;
            cursor: pointer;
        }

        /* Responsive Styling */
        @media (max-width: 768px) {
            nav {
                padding: 1rem 1rem;
            }

            .nav-container {
                flex-direction: column;
                gap: 10px;
                padding: 0 15px;
            }

            .logo {
                font-size: 1.3rem;
                padding: 0 .4rem;
            }

            nav ul {
                gap: 15px;
                flex-wrap: wrap;
                justify-content: center;
            }

            nav a {
                font-size: 0.9rem;
                padding: 8px 12px;
            }

            .menu-toggle {
                display: block;
                color: var(--primary-color);
            }

            .nav-links {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                max-height: 0;
                background: white;
                position: absolute;
                top: 68px;
                right: 0;
                width: 100%;
                text-align: center;
                z-index: 999;
                padding: 12px 40px;
                overflow: hidden;
                opacity: 0;
                transform: translateY(-10px);
                transition:
                    max-height 0.4s ease,
                    opacity 0.3s ease,
                    transform 0.3s ease;
            }

            .nav-links.active {
                max-height: 600px;
                transform: translateY(0);
                opacity: 1;
            }

            .nav-links a {
                padding: 5px 15px;
            }
        }

        /* Small mobile devices */
        @media (max-width: 480px) {
            header {
                padding: 8px 0;
            }

            .logo {
                font-size: 0.5rem;
            }

            nav ul {
                gap: 10px;
            }

            nav a {
                font-size: 0.8rem;
                padding: 6px 8px;
            }


        }