* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Section */
.hero-section {
    padding: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(var(--primary-rgb), 1)), url(../images/offset2.jpg);
    background-position: top;
    background-size: cover;
    height: fit-content;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 2rem 0rem 2rem;
    gap: 40px;
    height: fit-content;
}

.hero-text {
    text-align: left;
}

.hero-text h1 {
    font-family: 'Futura-Demi', sans-serif;
    font-size: 2.5rem;
    color: white;
}

.hero-text p {
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.hero-image {
    width: 100%;
    height: 210px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
}

.hero-desktop {
    display: none;
}

.hero-mobile {
    display: block;
}

@media(min-width:767px) {
    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: black;
    }

    /* .hero-section{
    } */
    .hero-content {
        padding: 8rem 1rem 0 1rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 2rem;
    }

    .hero-text h1 {
        font-size: 3rem;
        line-height: .9;
    }

    .hero-text p {
        font-size: 1.8rem;
        width: 100%;
    }

    .hero-image {
        height: fit-content;
    }

    .hero-image img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}

@media(min-width:1023px) {
    .hero-content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding: 12rem 4rem 0rem 4rem;
        height: fit-content;
        align-items: normal;
        gap: 0;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero-text h1 {
        font-size: 3rem;
        width: 80%;
        line-height: .9;
    }

    .hero-text p {
        font-size: 1.2rem;
        width: 90%;
    }

    .hero-image {
        height: fit-content;
    }

    .hero-image img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}

@media(min-width:1439px) {
    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 1.8rem;
    }
}

/* Industries Section */
.industries-section{
    padding: 2rem;
    background-color: white;
}
.industry-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}
.industry-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    border-radius: 30px;
    padding: 2rem 2rem;
    height: 300px;
    color: white;
}
.industry-card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.industry-card h2{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
}
.industry-card p{
    font-family: 'Futura-Light', sans-serif;
    text-align: center;
    font-size: 1.1rem;
}
.bg-image1{
    background-image: url(../images/image1-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image2{
    background-image: url(../images/image2-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image3{
    background-image: url(../images/image3-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image4{
    background-image: url(../images/image4-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image5{
    background-image: url(../images/image5-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image6{
    background-image: url(../images/image6-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image7{
    background-image: url(../images/image7-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image8{
    background-image: url(../images/image8-1.png);
    background-position: center;
    background-size: cover;
}

.industry-text{
    padding: 2rem 0;
}
.industry-text p{
    font-family: 'Futura-Light', sans-serif;
    text-align: center;
    font-size: 2rem;
}
@media(min-width:767px){
    .industries-section{
        padding: 2rem 1rem;
    }
    .grid-1{
        grid-template-columns: 1fr 1fr;
    }
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
    .industry-cards{
        display: grid;
        padding: 1rem 0;
    }
    .industry-card{
        flex-direction: column;
        display: flex;
        padding: 1rem .5rem;
        height: 250px;
        width: 100%;
    }
    .industry-card-content{
        flex-direction: column;
        gap: 10px;
    }
}
@media(min-width:1023px){
    .industries-section{
        padding: 2rem 1rem;
    }
    .grid-1{
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-2{
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
    .industry-cards{
        display: grid;
    }
    .industry-card{
        flex-direction: column;
        display: flex;
        padding: 1.5rem .5rem;
        height: 200px;
        width: 100%;
    }
    .industry-card-content{
        flex-direction: column;
        gap: 5px;
        padding: 0 1rem;
    }
    .industry-card-content h2{
        font-size: 1rem;
    }
    .industry-card-content p{
        font-size: .9rem;
    }
    .industry-text{
        padding: 2rem 1rem;
    }
}
@media(min-width:1439px){
    .industry-card-content h2{
        font-size: 1rem;
    }
    .industry-card-content p{
        font-size: .9rem;
    }
    .industry-text{
        padding: 2rem 2rem;
    }
}
/* Retainer Section */
.retainer-section{
    padding: 2rem;
    background-color: rgba(var(--primary-rgb),.95)
    
}
.retainer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.retainer-content h2{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 2rem;
    color: white;
}
.retainer-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
/* .retainer-hero-text{

} */
.retainer-hero-text ul{
    color: white;
    line-height: 2;
}
.retainer-hero-text ul li{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.2rem;
}
.retainer-hero-i{
    width: 100%;
    height: 300px;
}
.retainer-hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(min-width:767px){
    .retainer-content h2{
        font-size: 3rem;
    }
    .retainer-hero-text ul{
        text-align: left;
        width: 100%;
    }
    .retainer-hero-text ul li{
        font-size: 2rem;
    }
}
@media(min-width:1023px){
    .retainer-section{
        padding:2rem 1rem;
        height: 500px;
    }
    .retainer-content{  
        height: 100%; 
        gap:5px; 
        padding: 0 2rem;    
    }
    .retainer-content h2{
        font-size: 3rem;
    }
    .retainer-hero-text ul li{
        font-size: 1.3rem;
    }
    .retainer-hero{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;
    }
    .retainer-hero-image{
        height: 325px;
    }
}
@media(min-width:1439px){
    .retainer-section{
        padding: 4rem 2rem;
        height: 600px;
    }
    .retainer-content{}
    .retainer-content h2{
        font-size: 3.5rem;
    }
    .retainer-hero-text ul li{
        font-size: 1.8rem;
    }
    .retainer-hero-image{
        height: 400px;
    }
}