/* Industries Section */
.industries-section{
    padding: 2rem;
    background-color: white;
}
.industry-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}
.industry-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    border-radius: 30px;
    padding: 2rem 2rem;
    height: 300px;
    color: white;
}
.industry-card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.industry-card h2{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
}
.industry-card p{
    font-family: 'Futura-Light', sans-serif;
    text-align: center;
    font-size: 1.1rem;
}
.bg-image1{
    background-image: url(../images/image1-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image2{
    background-image: url(../images/image2-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image3{
    background-image: url(../images/image3-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image4{
    background-image: url(../images/image4-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image5{
    background-image: url(../images/image5-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image6{
    background-image: url(../images/image6-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image7{
    background-image: url(../images/image7-1.png);
    background-position: center;
    background-size: cover;
}
.bg-image8{
    background-image: url(../images/image8-1.png);
    background-position: center;
    background-size: cover;
}

.industry-text{
    padding: 2rem 0;
}
.industry-text p{
    font-family: 'Futura-Light', sans-serif;
    text-align: center;
    font-size: 2rem;
}
@media(min-width:767px){
    .industries-section{
        padding: 2rem 1rem;
    }
    .grid-1{
        grid-template-columns: 1fr 1fr;
    }
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
    .industry-cards{
        display: grid;
        padding: 1rem 0;
    }
    .industry-card{
        flex-direction: column;
        display: flex;
        padding: 1rem .5rem;
        height: 250px;
        width: 100%;
    }
    .industry-card-content{
        flex-direction: column;
        gap: 10px;
    }
}
@media(min-width:1023px){
    .industries-section{
        padding: 2rem 1rem;
    }
    .grid-1{
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-2{
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
    .industry-cards{
        display: grid;
    }
    .industry-card{
        flex-direction: column;
        display: flex;
        padding: 1.5rem .5rem;
        height: 200px;
        width: 100%;
    }
    .industry-card-content{
        flex-direction: column;
        gap: 5px;
        padding: 0 1rem;
    }
    .industry-card-content h2{
        font-size: 1rem;
    }
    .industry-card-content p{
        font-size: .9rem;
    }
    .industry-text{
        padding: 2rem 1rem;
    }
}
@media(min-width:1439px){
    .industry-card-content h2{
        font-size: 1rem;
    }
    .industry-card-content p{
        font-size: .9rem;
    }
    .industry-text{
        padding: 2rem 2rem;
    }
}
/* Retainer Section */
.retainer-section{
    padding: 2rem;
    background-color: rgba(var(--primary-rgb),.95)
    
}
.retainer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.retainer-content h2{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 2rem;
    color: white;
}
.retainer-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
/* .retainer-hero-text{

} */
.retainer-hero-text ul{
    color: white;
    line-height: 2;
}
.retainer-hero-text ul li{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.2rem;
}
.retainer-hero-i{
    width: 100%;
    height: 300px;
}
.retainer-hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(min-width:767px){
    .retainer-content h2{
        font-size: 3rem;
    }
    .retainer-hero-text ul{
        text-align: left;
        width: 100%;
    }
    .retainer-hero-text ul li{
        font-size: 2rem;
    }
}
@media(min-width:1023px){
    .retainer-section{
        padding:2rem 1rem;
        height: 500px;
    }
    .retainer-content{  
        height: 100%; 
        gap:5px; 
        padding: 0 2rem;    
    }
    .retainer-content h2{
        font-size: 3rem;
    }
    .retainer-hero-text ul li{
        font-size: 1.3rem;
    }
    .retainer-hero{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;
    }
    .retainer-hero-image{
        height: 325px;
    }
}
@media(min-width:1439px){
    .retainer-section{
        padding: 4rem 2rem;
        height: 600px;
    }
    .retainer-content{}
    .retainer-content h2{
        font-size: 3.5rem;
    }
    .retainer-hero-text ul li{
        font-size: 1.8rem;
    }
    .retainer-hero-image{
        height: 400px;
    }
}