* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

/*Services*/
.services-hero {
    padding: 8rem 2rem 1rem 2rem;
    height: fit-content;
}

.services-hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-hero-text h1 {
    font-family: 'Futura-Bold', sans-serif;
    font-size: clamp(2.5rem, calc(2vw + 1.5rem), 4rem);
    color: black;
    line-height: 1.2;
}

.services-hero-text p {
    color: black;
    font-family: 'Futura-Light', sans-serif;
    font-size: clamp(1.2rem, calc(1vw + .5rem), 1.8rem);
    text-align: justify;
    line-height: 1.6;
    width: 90%;
}

.services-hero-image {
    height: 100%;
    width: 100%;
}

.services-hero-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media(min-width:768px) {
    .services-hero {
        padding: 8rem 0rem 0 8rem;
        height: 90vh;
    }

    .services-hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }

    .services-hero-text p {
        width: 80%;
    }

    .services-hero-image {
        padding: 4rem 0 2rem 0;
    }

    .services-hero-image img {
        object-fit: cover;
    }
}


/****************************************/
/*Services*/
/****************************************/
.services-content{
    display: flex;
    flex-direction: column;
}

.services-text{
    padding: 2rem;
}
.services-text h1{
    font-family: 'Futura-Demi',sans-serif;
    font-size: clamp(3rem, calc(5vw + 2rem), 4.5rem);
    color: white;
    margin: 0 0 2rem 0;
    line-height: .9;
}
.services-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2rem 0;
}
.services-list ul{
    border-radius: 12px;
    padding: 1rem 3rem;
    line-height: 2;
    font-size: clamp(1rem, calc(1vw + .5rem), 1.5rem);
    
}
.services-list li{
    font-family: 'Futura-Light',sans-serif;
}
.services-image{
    height: 100%;
}
.services-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blue-grad{
    background: url(../images/grad-blue.png);
}
.red-grad{
    background: url(../images/grad-red.png);
}
.grey-grad{
    background: url(../images/grad-grey.png);
}
.purple-grad{
    background: url(../images/grad-purple.png);
}
.offset{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/offset2.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.barcode{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/barcode.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.printing{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/printing2.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.flexographic{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/flexographic.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-white-transparent{
    background-color: rgba(255, 255, 255, .09);
}
.bg-white-t-2{
    background-color: rgba(255,255,255,.1);
}
.bg-black-transparent{
    background-color: rgba(0, 0, 0, .09);
}
.bg-black-t-2{
    background-color: rgba(0, 0, 0, .3);
}
.bg-black-t-3{
    background-color: rgba(0,0,0,.4);
}
@media(min-width:768px){
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        width: 90%;
        padding: 5rem 0rem 5rem 0rem;
        
    }
    .services-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 0rem 0;
        width: 300px;
    }
    .services-list ul{
        line-height: 1.2;
        width: 300px;
        padding: 1rem 0rem 1rem 3rem;
    }
    /* .services-image{
    
    } */
    .services-image img{
        /* object-fit:contain; */
        overflow: visible;

    }
    .printing{
        background-size: cover;
    }
    .flexographic{
        background-size: cover;
        background-position: bottom;
    }

}
@media(min-width:1024px){
    .services-content{
        padding: 7rem 0rem 7rem 0rem;
        width: 85%;
    }
}