/****************************************/
/*Services*/
/****************************************/
.services-content{
    display: flex;
    flex-direction: column;
}

.services-text{
    padding: 2rem;
}
.services-text h1{
    font-family: 'Futura-Demi',sans-serif;
    font-size: clamp(3rem, calc(5vw + 2rem), 6rem);
}
.services-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services-list ul{
    border-radius: 25px;
    padding: 1rem 3rem;
    line-height: 2;
    font-size: clamp(1.3rem, 2vw + 1rem, 2.5rem);
    
}
.services-list li{
    font-family: 'Futura-Light',sans-serif;
}
.services-contact{
    display: flex;
    justify-content: space-evenly;
}
.services-contact a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1rem 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Futura-Demi',sans-serif;
    font-size: clamp(1rem, calc(2vw + 1rem), 2rem);
}
.services-image{
    height: 100%;
}
.services-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blue-grad{
    background: url(../images/blue\ gradient@4x-8.png);
}
.red-grad{
    background: url(../images/red\ gradient@4x-8.png);
}
.grey-grad{
    background: url(../images/grey\ gradient@4x-8.png);
}.offset{
    background:linear-gradient(180deg,rgba(0,0,0,.3) 0%,rgba(0,0,0,.3) 100%), url(../images/offset.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}