@font-face {
            font-family: 'Futura-Light';
            src: url('../fonts/futura-pt/FuturaCyrillicLight.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Futura-Medium';
            src: url('../fonts/futura-pt/FuturaCyrillicMedium.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Futura-Demi';
            src: url('../fonts/futura-pt/FuturaCyrillicDemi.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Futura-Book';
            src: url('../fonts/futura-pt/FuturaCyrillicBook.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Futura-Bold';
            src: url('../fonts/futura-pt/FuturaCyrillicBold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Futura-ExtraBold';
            src: url('../fonts/futura-pt/FuturaCyrillicExtraBold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Futura-Heavy';
            src: url('../fonts/futura-pt/FuturaCyrillicHeavy.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        :root {
            --primary-color: #283b8d;
            --primary-rgb: 40, 59, 141;
            --secondary-color: #ea3430;
            --secondary-rgb: 234, 52, 48;
            --light-blue: #e9feff;
            --light-rgb:233, 254, 255;
        }

        /*Repeated CSS*/
        .text-white{
            color: white;
        }
        .text-black{
            color: black;
        }
        .text-blue{
            color: var(--primary-color);
        }
        .bg-blue{
            background-color: var(--primary-color);
        }
        .bg-black{
            background-color: black;
        }
        .bg-white{
            background-color: white;
        }
        
        