
/******************************************/
/*Staff*/
/******************************************/
.staff-content {
    max-width: 100%;
    height: fit-content;
    margin: 2rem auto;
    padding: 2rem 4rem 2rem 16rem;
}
.staff-content h1{
    font-family: 'Futura-Light', sans-serif;
    font-size: 4rem;
    font-weight: 100;
}
.staff-content p{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.5rem;
}
.list-container{
    line-height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
   background-color: var(--primary-color);
   width: 70%;
   padding: 2rem;

}
.list-container ul{list-style-type: none;}
.list-container li{
    font-size: 1.5rem;
    font-family: 'Futura-Light', sans-serif;
    color: white;
}
.staff-qualities{
    border: 5px solid var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    left:-100px;
    top: -200px;
    width: 60%;
    height: 400px;
    padding: 2rem;
    z-index: -1;
}
.staff-qualities p{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.5rem;
}

.staff-qualities li{
    font-size: 1.5rem;
    font-family: 'Futura-Light', sans-serif;
    line-height: 3rem;
    
}
@media(max-width:768px){
    .staff-content{
        margin: 0;
        padding:0 0 0 0;
    }
    .list-container{grid-template-columns: 1fr;width: 100%;}
    .staff-qualities{width: 100%;position:unset;}
}
/******************************************/
/*values */
/******************************************/
.values-content{
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem 4rem 2rem 10rem;
}
.values-text{
    
}
.values-text h1{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
    background-color: var(--primary-color);
    color: white;
    padding: 0.7rem;
    width: fit-content;
}
.values-text p{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.5rem;
    
}
.image-text{
    display: flex;
    align-items: center;
    padding:2rem 2rem 2rem 0;
    gap: 150px;
}
.image-text p{
    font-size: 1.2rem;
    font-family: 'Futura-Light', sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    width: 40%;
}
.image-side{ 
    width: 40%;
    height: 600px; 
    background: url(images/hero-mobile.jpg.jpg);
    background-position: center;
    background-size: cover;
}
@media(max-width:768px){
    .values-content{
        padding:0 0 0 0;

    }
    .values-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:50px;
        padding: 2rem 0rem 2rem 0rem;
    }
.image-text p{
    width: 100%;
    text-align: center;
}
.image-side{width: 100%;height: 400px;}
}
/******************************************/
/*Social Duty*/
/******************************************/
.social-duty-content{
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem 4rem 2rem 15rem;

}

.social-duty-content h1{
    font-family: 'Futura-Bold', sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: var(--primary-color);
    padding: 0.7rem;
    width: fit-content;
    width: 51%;
}

.social-duty-content p{
    font-family: 'Futura-Light', sans-serif;
    font-size: 1.5rem;
    width: 80%;
}
.charity-image{
    
}
.charity-image img{
    
    height: 200px;  
    width: 100%; 
}
@media(max-width:768px){
 .social-duty-content{
    padding:0 0 0 0 ;
 }  
 .social-duty-content h1{
    font-size: 2rem;
    width: 100%;
    padding: .7rem .7rem 0rem .7rem;
 } 
 .respond{
    margin: 0;
    padding: 0 0 0 .7rem;
 }
 .social-duty-content p{
    padding: 0 0 0 .7rem;
 }
}